@tailwind preflight;

@tailwind components;

@import "components/btn";
@import "components/text";

@tailwind utilities;

 [v-cloak] { display: none; }

.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.2em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid #0000;
    border-bottom: 0;
    border-left: 0.3em solid #0000;
}