.btn {
    @apply .bg-secondary .text-secondary-darkest .font-normal .text-sm .font-semibold .py-2 .px-4 .rounded;
    cursor: pointer;
    outline: none;

    &.is-primary {
        @apply .bg-primary .text-white;

        &:hover {
            @apply .bg-primary-dark;
        }
    }

    &.is-outlined {
        background: transparent;
        @apply .border;
    }

    &.is-header-btn {
        @apply .shadow .bg-white .text-sm .text-secondary-dark;
    }

    &.is-small, &.is-header-btn {
        @apply .text-xs .py-1 .px-3;
    }

    &:hover {
        @apply .bg-secondary-dark .text-white;
    }

    &.is-narrow, &.is-header-btn {
        @apply .py-1 .px-2;
    }

    &.is-super-small {
        @apply .text-xs .py-s1 .px-1;
    }
}

.btn-text {
    @apply .bg-transparent .text-secondary-dark .font-normal .text-sm .font-semibold .p-0 .border-none .no-underline;
    cursor: pointer;

    &.is-primary {
        @apply .text-primary;

        &:hover {
            @apply .text-primary-dark;
        }
    }

    &.is-small {
        @apply .text-xs;
    }

    &:hover {
        @apply .text-secondary-darkest;
    }
}

button.burger {
    @apply .flex .items-center .px-3 .py-2 .border .rounded .text-primary-dark .border-primary-light;

    &:hover {
        @apply .text-primary-dark .bg-primary-lightest .border-primary-dark;
    }
}

button.btn {
    outline: none;
}
