[v-cloak] { display: none; }

select {
    @apply .block .appearance-none .bg-white .border .border-secondary-light .text-secondary-darker .text-sm .py-1 .px-2 .pr-8 .rounded .leading-tight .shadow;
    
    &:focus {
        @apply .outline-none .bg-white .border-secondary;
    }

    &:hover {
        @apply .border-secondary;
    }
}

.select-menu-icon {
    @apply .pointer-events-none .absolute .pin-y .pin-r .flex .items-center .px-2 .text-secondary-darker
}

// Pagination
.pagination {
    @apply .flex .list-reset;

    &.justify-content-center {
        justify-content: center!important;
    }

    &.justify-content-end {
        justify-content: flex-end!important;
    }

    & .page-item {
        & .page-link {
            @apply .text-sm .relative .block .py-2 .px-3 .leading-tight .bg-white .border .border-secondary .text-secondary-darker .-ml-px;

            &:not(:disabled) {
                @apply .cursor-pointer;
            }

            &:hover {
                @apply .text-white .bg-secondary-dark .border-secondary-dark .no-underline;
            }

        }

        &.active {
            & .page-link {
                @apply .z-10 .text-white .bg-primary .border-primary;

                &:hover {
                    @apply .bg-primary-dark .border-primary-dark;
                }
            }
        }

        &.disabled {
            & .page-link {
                @apply .text-secondary-dark .pointer-events-none .cursor-auto .bg-white;
            }
        }

        &:first-child {
            & .page-link {
                @apply .ml-0 .rounded-l;
            }
        }

        &:last-child {
            & .page-link {
                @apply .rounded-r;
            }
        }
    }

    &.pagination-lg {
        & .page-link {
            @apply .py-3 .px-6 .leading-normal .text-lg;
        }
    }

    &.pagination-sm {
        & .page-link {
            @apply .py-1 .px-2 .leading-normal .text-xs;
        }
    }
}

.sortable-col {
    @apply .cursor-pointer;

    &:hover {
        @apply .text-primary;
    }
}

.sorted-col::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.2em;
    content: "";
    border-top: 0;
    border-bottom: 0.3em solid;
    border-right: 0.3em solid #0000;
    border-left: 0.3em solid #0000;
}

.sorted-col.desc::after {
    border-top: 0.3em solid;
    border-bottom: 0;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

// Dropdown menu
.dropdown-menu {
    @apply .relative .inline-block ml-4;

    &:first-of-type {
        @apply .ml-0;
    }

    & .dropdown-toggle-wrap {
        @apply .inline-block .select-none;
    }

    & .dropdown-items-wrap {
        @apply .absolute .pin-r .overflow-hidden .z-10;

        & div {
            @apply .mt-px .bg-white .border .border-secondary .rounded-b .w-auto .py-3 .px-3;

            min-width: 10rem;
            
            & a {
                @apply .block .no-underline .text-secondary-dark .text-sm .mt-2;

                &:first-of-type {
                    @apply .mt-0;
                }

                &:hover {
                    @apply .underline .text-secondary-darkest;
                }
            }
        }
    }
}

.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    content: "";
}

.dropdown-toggle.toggle-open::after {
    vertical-align: 0.2em;
    border-top: 0.3em solid;
    border-right: 0.275em solid #0000;
    border-bottom: 0;
    border-left: 0.275em solid #0000;
}

.dropdown-toggle.toggle-closed::after {
    margin-right: .2485em;
    vertical-align: 0;
    border-top: 0.32em solid #0000;
    border-right: 0;
    border-bottom: 0.32em solid #0000;
    border-left: 0.3em solid;
}

// Loader icon - Hat-tip to Bulma.
.loader {
    color: transparent !important;
    pointer-events: none;
    position: relative;
}

.loader:after {
    animation: spinAround 500ms infinite linear;
    border: 2px solid #dbdbdb;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    position: relative;
    position: absolute;
    left: calc(50% - (1em / 2));
    top: calc(50% - (1em / 2));
    position: absolute !important;
}

.loader.loader-lg:after {
    width: 2em;
    height: 2em;
}
.loader.loader-xl:after {
    width: 4em;
    height: 4em;
}

@keyframes spinAround {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}