.navbar {
    @apply relative flex flex-wrap items-center justify-between py-2 px-4;
}
.navbar > .container {
    @apply flex flex-wrap items-center justify-between;
}

.navbar-brand {
    @apply inline bg-transparent py-1 mr-6 ml-4 text-xl no-underline whitespace-no-wrap text-secondary-700;

    &:hover {
        @apply text-secondary-900 no-underline;
    }
}

.navbar .nav-link {
    @apply inline px-4 py-2 text-secondary-600 no-underline; 
    
    &:hover {
        @apply text-secondary-800 no-underline;
    }
}

.dropdown-menu .nav-link {
    @apply block pb-0;
}

.subnav {
    &.collapsable {
        @apply hidden;
    }

    & a {
        @apply block no-underline text-left;

        &:hover {
            @apply no-underline text-secondary-900;
        }
    }

    & .dropdown {
        @apply ml-4;

        &:first-child {
            @apply ml-0;
        }
    }
}

.dropdown-menu .subnav {
    @apply block;

    & .dropdown-menu {
        @apply -ml-8 mt-0;
    }

    & .dropdown {
        @apply ml-0;
    }

    & a {
        @apply block no-underline text-sm leading-loose px-4 text-secondary-800 text-left ml-0;

        &:hover {
            @apply border-none no-underline text-secondary-800;
            background: rgba(0, 0, 0, 0.1);
        }
    }
}

@screen sm {
}

@screen md {
    .navbar {
        @apply justify-start flex-row flex-no-wrap;
    }

    .navbar > .container {
        @apply flex-no-wrap;
    }

    .navbar .nav-link {
        @apply px-2;
    }

    .subnav.collapsable {
        @apply flex mr-auto;
    }

    .dropdown-menu .subnav {
        @apply hidden;
    }
}

@screen lg {
}

@screen xl {
}

@screen xxl {
    .navbar > .container {
        @apply max-w-screen-xl;
    }
}